<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nk.parkar.management.mapper.ParkingTimeMapper">
  <resultMap id="BaseResultMap" type="nk.parkar.management.model.ParkingTime">
    <id column="time_id" jdbcType="INTEGER" property="timeId" />
    <result column="space_id" jdbcType="INTEGER" property="spaceId" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
  </resultMap>
  <sql id="Base_Column_List">
    time_id, space_id, start_time, end_time
  </sql>

  <select id="selectBySpaceId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from parking_time
    where space_id = #{spaceId,jdbcType=INTEGER}
    order by end_time asc
  </select>

  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from parking_time
    where time_id = #{timeId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="nk.parkar.management.model.ParkingTime">
    insert into parking_time (time_id, space_id, start_time, 
      end_time)
    values (#{timeId,jdbcType=INTEGER}, #{spaceId,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP})
  </insert>

  <delete id="deleteWithoutId" parameterType="nk.parkar.management.model.ParkingTime">
    delete from parking_time
    where
      space_id=#{spaceId,jdbcType=INTEGER} and
      start_time=#{startTime,jdbcType=TIMESTAMP} and
      end_time=#{endTime,jdbcType=TIMESTAMP}
  </delete>

</mapper>