<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nk.parkar.management.mapper.ParkingOrderMapper">
  <resultMap id="BaseResultMap" type="nk.parkar.management.model.ParkingOrder">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="license_number" jdbcType="VARCHAR" property="licenseNumber"/>
    <result column="space_id" jdbcType="INTEGER" property="spaceId" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="mode" jdbcType="INTEGER" property="mode" />
    <result column="paid" jdbcType="TINYINT" property="paid" />
  </resultMap>
  <sql id="Base_Column_List">
    order_id, user_id, license_number, space_id, start_time, end_time, price, mode, paid
  </sql>

  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from parking_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>

  <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from parking_order
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="selectByPaidStat" parameterType="java.lang.Boolean" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from parking_order
    where paid = #{paid,jdbcType=TINYINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from parking_order
  </select>

  <select id="selectByLicenseNumber" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from parking_order
    where license_number = #{licenseNumber,jdbcType=VARCHAR}
    order by start_time desc
  </select>

  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from parking_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="nk.parkar.management.model.ParkingOrder">
    insert into parking_order (order_id, user_id, license_number, space_id,
      start_time, end_time, price, 
      mode, paid)
    values (#{orderId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{licenseNumber,jdbcType=VARCHAR}, #{spaceId,jdbcType=INTEGER},
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{price,jdbcType=DECIMAL}, 
      #{mode,jdbcType=INTEGER}, #{paid,jdbcType=TINYINT})
  </insert>

  <update id="updateById" parameterType="nk.parkar.management.model.ParkingOrder">
    update parking_order
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="licenseNumber != null">
        license_number = #{licenseNumber,jdbcType=VARCHAR},
      </if>
      <if test="spaceId != null">
        space_id = #{spaceId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="mode != null">
        mode = #{mode,jdbcType=INTEGER},
      </if>
      <if test="paid != null">
        paid = #{paid,jdbcType=TINYINT},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>

</mapper>